body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

#leaderboard > tbody > tr {
    cursor: pointer;
}

    #leaderboard > tbody > tr:active {
        background: #fcf8e3;
    }

#map {
    height: 400px;
}